{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}

<div class="form-container">

    <div class="page-header">
        <h1>Change Password</h1>
        <p>Update your account password.</p>
    </div>

    <form method="POST" class="task-form">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">

            <button
                type="submit"
                class="btn"
            >
                Change Password
            </button>

            <a
                href="{% url 'profile' %}"
                class="cancel-btn"
            >
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}