{% extends 'base.html' %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}

<div class="form-container">

    <div class="page-header">
        <h1>Edit Profile</h1>
        <p>Update your account information.</p>
    </div>

    <form method="POST" class="task-form">

        {% csrf_token %}

        <h3>Account Information</h3>

        {{ user_form.as_p }}

        <h3>Profile</h3>

        {{ profile_form.as_p }}

        <div class="form-actions">

            <button type="submit" class="btn">
                Save Changes
            </button>

            <a
                href="{% url 'profile' %}"
                class="cancel-btn"
            >
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}